---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

<script src="https://utteranc.es/client.js"
        repo="goraniworks/blog-comments"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>


<!-- 댓글창 알림 메시지 -->
<div style="text-align: center; margin-top: 20px; color: gray; font-size: 14px;">
    브라우저 설정에 따라 댓글창이 보이지 않을 수도 있습니다.
</div>



